:root {
  --primary-color: #434455;
  --white-color: #ffffff;
  --first-logo-color: #4d5ae5;
  --second-logo-color-header: #2e2f42;
  --second-logo-color-footer: #f4f4fd;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--white-color);
  color: var(--primary-color);
  font-size: 16px;
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

/* Header */

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-logo-color);
}
.color-logo-header {
  color: var(--second-logo-color-header);
}
.nav-link {
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.contacts-list .contacts-link:hover,
.contacts-list .contacts-link:focus {
  color: #404bbf;
}

/* HERO */
.hero {
  background: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
  color: var(--white-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}

/* Our advantages */
.advant-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.advant-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* About us */
.about {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--second-logo-color-header);
}

/* Our Team */
.our-team {
  background: #f4f4fd;
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-card {
  background: #ffffff;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-position {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */
.footer {
  background: #2e2f42;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* Portfolio */
.filters-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--first-logo-color);
  background: var(--second-logo-color-footer);
  cursor: pointer;
}
.filters-btn:hover,
.filters-btn:focus {
  color: #ffffff;
  background: #404bbf;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-logo-color-header);
}
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.color-logo-footer {
  color: var(--second-logo-color-footer);
}
